
.aside__menu  
  .aside__triangle
    svg.triangle__tr(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 400" preserveaspectratio="none")
      polygon.triangle__right(points="1000,0   1000,400   0,400   0,280") 
  ul.aside__list
    li.aside__item
      a(href="#").aside__link Programm
    li.aside__item
      a(href="#").aside__link Our speakers
    li.aside__item
      a(href="#").aside__link Location
    li.aside__item
      a(href="#").aside__link Taxes and fees
    li.aside__item
      a(href="#").aside__link Become a speaker
    li.aside__item
      a(href="#").aside__link About
  .aside__contact
    button.aside__btn Contact us