.banner
  .title
    h1.banner__title World largest medical summit Kuala-Lumpur <br>Petronas Twin Towers
  .banner__desc
    .banner__date
      p 19.10.2018 - 27.10.2018
    .banner__reg
      button.banner__btn registration
    .banner__text
      p No tax till 01.09.2018
    .banner__more
      a(href="#").banner__link Learn more